@import '../../style/funcs';
.slide {
    position: relative;
    height: 100%;
    max-width: prc(275, 1172);
    min-width: prc(275, 1172);
    margin-right: 20px;
    border: 1px solid #E2E4EB;
    border-radius: 5px;
    &:last-child {
        margin-right: 0;
    }
    &__img-wrap {
        width: 100%;
        height: prc(250, 430);
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__info {
        padding: 20px;
    }
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #222A46;
    }
    &__size {
        margin-top: 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #505567;
    }
    &__cla-wrap {
        margin-top: 44px;
        display: flex;
        justify-content: space-between;
    }
    &__prices {
        display: flex;
        flex-direction: column;
        row-gap: 3px;
    }
    &__curr-price {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #222A46;
    }
    &__prev-price {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #B0B2B9;
        text-decoration: line-through;
    }
    &__btn {
        border: none;
        padding: 12px 25px;
        background: #E2195B;
        border-radius: 5px;
        cursor: pointer;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #fff;
    }
}

.add-to-fav {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 36px;
    height: 36px;
    font-size: 24px;
    line-height: 42px;
    border: none;
    border-radius: 50%;
    color: #B0B2B9;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        color: #E2195B;
    }
}