.promo {
    &-slide {
        padding: 90px 0 86px 90px;
        max-width: 100%;
        min-width: 100%;
        height: 100%;
        background-image: url('../../assets/img/mainSlide1.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        &__title {
            max-width: 272px;
            font-style: normal;
            font-weight: 700;
            font-size: 44px;
            line-height: 56px;
            color: #222A46;
        }

        &__wrap {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            row-gap: 10px;
        }

        &__slogan {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            color: #222A46;
        }
    }

    &-code {
        display: block;
        width: 73%;
        padding: 14px 25px;
        background-color: #fff;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #E2195B;
        border-radius: 10px 0 0 10px;

        &__cla {
            position: relative;
            display: flex;
            align-items: center;
            max-width: 203px;
            height: 50px;
            box-shadow: 0px 4px 15px rgba(34, 42, 70, 0.08);

            .success {
                position: absolute;
                visibility: hidden;
                top: 55px;
                right: -10px;
                padding: 5px;
                border-radius: 10px;
                color: #fff;
                background-color: rgb(27, 190, 62);
                transition: all 0.5s ease;
            }

            .failed {
                position: absolute;
                visibility: hidden;
                top: 55px;
                right: -10px;
                padding: 5px;
                border-radius: 10px;
                color: #fff;
                background-color: rgb(226, 19, 19);
                transition: all 0.5s ease;
            }
        }
    }
}
.btn-copy {
    width: 27%;
    height: 100%;
    background: #0093A2;
    opacity: 0.5;
    border: none;
    border-radius: 0px 10px 10px 0px;
    text-align: center;
    cursor: pointer;
}