@import '../../style/funcs';
.card {
    width: 100%;
    border: 1px solid #E2E4EB;
    border-radius: 5px;
    &__img-wrap {
        width: 100%;
        height: prc(250, 440);
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px 5px 0 0;
    }
    &__content {
        padding: 15px 15px 20px 15px;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        &-head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .rating {
                display: flex;
                align-items: center;
                column-gap: 5px;
                .star {
                    font-size: 24px;
                    color: #0093A2;
                }
                &__mark {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    color: #353949;
                }
                &__amount {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #353949;
                }
            }
            .duration {
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                color: #353949;
            }
        }
        &-footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #222A46;
    }
    &__sizes {
        display: flex;
        align-items: center;
        column-gap: 5px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #353949;
    }
    &__size {
        display: block;
        padding: 4px 10px;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #505567;
        border: 1px solid #D0D2D7;
        border-radius: 5px;
    }
    &__prices {
        display: flex;
        flex-direction: column;
    }
    &__curr-price {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #222A46;
    }
    &__prev-price {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        text-decoration: line-through;
        color: #B0B2B9;
    }
    &__btn-add {
        padding: 10px 15px;
        border: 1px solid #E2195B;
        border-radius: 5px;
        background-color: #fff;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #E2195B;
        cursor: pointer;
    }
}