@import '../../style/funcs';
.section {
    padding: 60px 0;
    background: #F2F6F7;
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        color: #222A46;
    }
    &__content {
        margin-top: 30px;
        display: flex;
        align-items: center;
        column-gap: 20px;
    }
    &__card {
        text-align: center;
        max-width: prc(278, 1172);
        height: 350px;
        background-color: #fff;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
        border-radius: 0px 0px 5px 5px;
    }
    .card {
        &__img-wrap {
            width: 100%;
            height: prc(250, 351);
        }
        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &__title {
            margin-top: 20px;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            color: #222A46;
        }
        &__price {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #222A46;
        }
    }
}